<%= bootstrap_form_tag  url: '/prolog', remote: true do |f| %>
  <%= f.radio_button :program, "4", label: "4 Year Plan"  %>
  <%= f.radio_button :program, "CNM", label: "CNM to UNM Transfer"  %>
  <%= f.radio_button :program, "Starting", label: "Starting Math 150"  %>
  <%= f.select :track, options_from_collection_for_select(Predicate.all, :prolog, :name) %>
  <%= f.select :course, grouped_options_for_select(@courses), {},{multiple: true} %>
  <%= f.primary "Check Courses" %>
<% end %>
<table class="table" style="display:none" id="prolog-table">
  <tbody id="prolog">
  </tbody>
</table>
<table class="table" style="display:none" id="plan-table">
  <tbody id="plan">
  </tbody>
</table>
<br>
<button class="btn btn-warning" onclick="location.reload();">Start Over</button>
<script type="text/javascript">
$('select').select2();
</script>
